<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
  hi hi Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit assumenda expedita, autem asperiores quisquam, tenetur voluptatibus nulla nesciunt laudantium vel obcaecati, corporis omnis. Alias quos beatae, necessitatibus cum aut in!
  <h1><%=2+2 %></h1>
 <script src="../javascript/app.js"></script>
</body>
</html>